
<h1>Your photos: </h1><br>
<% @photos.each do |photo| %>
  <div class="card-group">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="md-4">
            <%= image_tag photo.image.url(:large), class: 'rounded mx-auto d-block'%>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= link_to photo.name, collection_photo_path(current_user, photo) %></h5>
              <p class="card-text"><%=photo.description%></p>
              <p class="card-text"><small class="text-muted">Last updated: <%=photo.created_at%></small></p>
              <p class="card-text"><small class="text-muted">Comments: <%=photo.comments_count%>  /  Likes: <%=photo.likes_count%></small></p>
            </div>
          </div>
        </div>
      </div>
  </div>
<%end%>