<h3>Comments:</h3> 
<div class="card">
<% comments.each do |comment| %>
  <div class="card-item">
    <div class='comment'>
      <p class="text"> <%= comment.body %> </p>
    </div>
    <p class="text">by: <%=comment.user.name%> <i><%=time_ago_in_words(comment.created_at) %> ago </i></p>
    <% if !comment.comments.any? %>
      <div class='mb-2'>
        <%if policy(comment).destroy?%>
          <%= link_to "Delete", photo_comment_path(commentable.is_a?(Photo) ? commentable.id : commentable.photo_id, comment), data: { method: :delete, confirm: "Are you shure" }, class: "btn btn-danger", id: 'deleteComment' %>
        <%end%>
        <%if policy(comment).update?%>
          <%= link_to "Edit", edit_photo_comment_path(commentable.is_a?(Photo) ? commentable.id : commentable.photo_id, comment, comment), class: "btn btn-warning", id: 'editComment' %>
        <%end%>
      </div>
    <%end%>
    <%= link_to 'reply', '#', class: 'reply-btn' %>
    <div class='reply'>
      <%=render partial: "comments/form", locals: {commentable: comment}%>
    </div>
    <ul class='child mt-2'>
      <%if comment.comments.any?%>
        <%=render partial: "comments/commentaries", locals: {comments: comment.comments, commentable: comment}%>
      <%end%>
    </ul>
  </div>
<% end %>
</div>

<style>
.child{
  margin-left: 30px;
}
.reply{
  display: none;
}
.comment{
  font-size: 24px;
  margin-left: 10px;
}
</style>