<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<h2>Comments:</h2>
<hr>
<%comments.each do |comment|%>
<div class="panel">
  <div class="panel-body">
    <div class="media-block">
        <%if comment.user.image.present?%> 
          <div class="media-left"> <%= image_tag comment.user.image.url(:avatar), class: 'img-circle img-sm'%> </div>
        <%else%>
            <p> No image...</p>
        <%end%>
      <div class="media-body">
        <div class="mar-btm">
          <p class="text-semibold media-heading"><%=comment.user.name%></p>
          <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> <%=comment.created_at%> </p>
        </div>
          <p class='text-md-start'> <%=comment.body%> </p>
        <div class="pad-ver">
          <div class='btn-group mb-5' data-btns-action>
            <%if policy(comment).destroy?%>
              <%= link_to "Delete", photo_comment_path(commentable.is_a?(Photo) ? commentable.id : commentable.photo_id, comment), data: { method: :delete, confirm: "Are you shure" }, class: "btn btn-danger", id: 'deleteComment' %>
            <%end%>
            <%if policy(comment).update?%>
              <%= link_to "Edit", edit_photo_comment_path(commentable.is_a?(Photo) ? commentable.id : commentable.photo_id, comment, comment), class: "btn btn-warning", id: 'editComment' %>
            <%end%>
        </div>
        <hr>
          <%=render partial: "comments/form", locals: {commentable: comment}%>
        </div> 
        <%if comment.comments.any?%>
          <%=render partial: "comments/commentaries", locals: {comments: comment.comments, commentable: comment}%>
        <%end%>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<%end%>
