<p>Sort by: 
<%= link_to "Published", moderate_photos_path(order: 'published') %>,
<%= link_to "Pending", moderate_photos_path(order: 'pending') %>,
<%= link_to "Rejected", moderate_photos_path(order: 'rejected') %>
</p>
  <%= paginate @photos %>
    <div class="card-group">
      <% @photos.each do |photo| %>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="md-4">
                <%= image_tag photo.image.url(:thumb), class: 'img-thumbnail'%>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to photo.name, moderate_photo_url(photo) %></h5>
                  <p class="card-text"><%=photo.description%></p>
                  <p class="card-text"><small class="text-muted">Last updated: <%=photo.created_at%></small></p>
                  <p class="card-text"><small class="text-muted">Comments: <%=photo.comments_count%>  /  Likes: <%=photo.likes_count%></small></p>
                  <p class="card-text"><small class="text-muted">Author: <%=photo.user.name%></small></p>
                </div>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  <%= paginate @photos %>