<h2><%= @photo.name %></h2>

<div class="card mb-3">
  <div class="row g-0">
    <%= image_tag @photo.image.url(:large), class: 'img-fluid rounded-start'%>
  </div>
  <div class="card-body">
    <p class="card-text"><%=@photo.description%></p>
    <p class="card-text"><small class="text-muted">Last updated <%=@photo.created_at%></small></p>
  </div>
  <div class="btn-group mt-3 mb-3">
	  <%= link_to "Back", moderate_photos_path, class: 'btn btn-warning'%>
  </div>
    <div class="row">
      <%= form_with model:[@photo], url: { action: "update" }, html: { multipart: true } do |form| %>
        <%= render 'shared/error_messages' %>
        <div>
          <%= form.label "name" %>
          <%= form.text_field :name, class: 'form-control'%>
        </div>
        <div>
          <%= form.label "description" %>
          <%= form.text_field :description, class: 'form-control'%>
        </div>
        <div>
          <%= form.label "Status:" %>
          <%= form.select :status, options_for_select([ "published", "rejected", "pending" ], "pending"), class: 'form-control'%>
        </div>
        <div>
          <%= form.label "rejection_reason" %>
          <%= form.text_field :rejection_reason, class: 'form-control'%>
        </div>
          <div class='btn'>
          <%=form.submit "Save", class:'btn btn-success'%>
          </div>
      <% end %>
    </div>
</div>