<% if @photos %>
  <%= render 'search'%> 
  <%= paginate @photos %>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
      <% @photos.each do |photo| %>
        <div class="col">
          <div class="card shadow-sm">
          <p class="card-title text-center mt-1"><%=photo.name%></p>
          <%= image_tag photo.image.url(:thumb), class: 'rounded mx-auto d-block mt-2'%>
            <div class="card-body">
              <p class="card-text"><small class="text-muted">Description: <%=photo.description%></small></p>
              <p class="card-text"><small class="text-muted">Comments: <%=photo.comments_count%>  /  Likes: <%=photo.likes_count%></small></p>
              <p class="card-text"><small class="text-muted">Author: <%=photo.user.name%></small></p>
              <h6>Status: <span class="badge bg-secondary"><%=photo.status%></span></h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", users_photo_path(photo), class: 'btn btn-sm btn-outline-secondary', id: "viewPhoto" %>
                  <%= link_to "Edit", edit_users_photo_path(photo), class: 'btn btn-sm btn-outline-secondary', id: "editPhoto"%>
                  <%= link_to "Delete", users_photo_path(photo), class: 'btn btn-sm btn-outline-secondary',
                        method: :delete, data: { confirm: "Are you shure?" }, id: "deletePhoto" %>
                </div>
              <p class="card-text"><small class="text-muted"><%= time_ago_in_words(photo.created_at)%></small></p>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      </div>
    </div>
  </div>
  <%= paginate @photos %>
  <% else %>
  <h2> No content...<h2>
  <% end %>