<h1>Edit photo</h1>
<div class="row">
    <%= form_with scope: :photo, url: users_photo_path, method: :put ,html: { multipart: true } do |form| %>
      <%= render 'shared/error_messages' %>
      <% if @photo %>
        <%= form.label "image new" %>
        <%= form.file_field :image_new, class: 'form-control'%>
      <% else %>
        <%= form.label "image" %>
        <%= form.file_field :image, class: 'form-control'%>
      <%end%>
      <%= form.label "name" %>
      <%= form.text_field :name, class: 'form-control'%>

      <%= form.label "description" %>
      <%= form.text_field :description, class: 'form-control'%>

      <div class='btn'>
        <%=form.submit "Save", class:'btn btn-success'%>
        <%= link_to 'Back', root_path, class:'btn btn-warning' %>
      </div>
    <% end %>
</div>