<h1>Personal cabinet: </h1>

<ul class="nav nav-pills nav-fill mb-3" id='cabinetBtns'>
  <li class="nav-item">
    <%= link_to "Add photo", new_users_photo_path, class: 'btn btn-light', id: "addPhoto" %>
  </li>
  <li class="nav-item">
    <%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-light', id: "editProfile" %>
  </li>
  <li class="nav-item">
    <%= link_to "Show my photos", users_photos_path, class: 'btn btn-light', id: "showPhotos"%>
  </li>
  <li class="nav-item">
    <%= link_to "Generate API key", users_updatekey_path, class: 'btn btn-light', id: 'getKey'%>   
  </li>
</ul>

  <div id="key">
    <%= render 'key' %>
  </div>

  <div data-album></div>
<%= render 'shared/modal' %>