<h1><%= @photo.name %></h1>
<div><%= image_tag @photo.image.url(:large), {:class => 'img-fluid img-thumbnail'}%></div>
<%# <div class="btn-group mt-2 mb-2"> %>
    <%# <%= link_to "Edit photo", edit_users_photo_path(@photo), class: 'btn btn-success' %> %>
    <%# <%= link_to "Delete photo", users_photo_path(@photo), class: 'btn btn-danger', %>
                  <%# method: :delete, %>
                  <%# data: { confirm: "Are you shure?" } %> %>
    <%= link_to "Back", users_photos_path, class: 'btn btn-warning'%>
<%# </div> %>