<% name = current_user.present? ? current_user.email : 'Anonimus'%>
<h2>Welcome, <%=name %>! You can register and add up to three photos to any section of the photo competition. And also comment on the photos and like the photo you like</h2>
<div class="card-group">
<%= @competitions.each do |comp| %>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%
=begin%>
 <%= image_tag photo.image.url(:large), class: 'img-fluid rounded-start'%> 
<%
=end%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=comp.competition_name%></h5>
        <p class="card-text"><%=comp.competition_description%></p>
        <p class="card-text"><small class="text-muted">Start competition <%=comp.start_date%></small></p>
      </div>
    </div>
  </div>
  <%=link_to "Show competitions photos", competition_path(comp), class: 'btn btn-warning'%>
</div>
<%end%>
</div>