<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "RateMyPhotos", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%if user_signed_in?%>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email%>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <%= link_to "Add photo", new_photo_path, class: 'dropdown-item'%>
              <%= link_to "Your photos", collections_path, class: 'dropdown-item'%>
              <%= link_to "Edit profile", edit_user_registration_path, class: 'dropdown-item'%>
              <%= link_to "Log out!", destroy_user_session_path, method: :delete, class: 'btn btn-inverse'%>
            </ul>
          </div>

        <%else%>
          <li class="nav-item">
            <%= link_to "Register", new_user_registration_path, class: "btn btn-inverse"%>
          </li>
          <li class="nav-item">
            <%= link_to "Log in!", new_user_session_path, class: "btn btn-inverse"%>
          </li>
        <%end%>
      </ul>
        <%
=begin%>
 <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> 
<%
=end%>
    </div>
  </div>
</nav>