<%= form_with model:[@photo], html: { multipart: true } do |form| %>
<div class=''>

  <div class='form-control'>
    <%= form.label "image" %>
    <%= form.file_field :image %>
  </div>
  
  <div class='form-control'>
    <%= form.label "name" %>
    <%= form.text_field :name %>
  </div>
  
  <div class='form-control'>
    <%= form.label "description" %>
    <%= form.text_field :description %>
  <div>
  
  <div class='btn'>
    <%=form.submit "Save", class:'btn btn-success'%>
    <%= link_to 'Back', root_path, class:'btn btn-warning' %>
  </div>
</div>
<% end %>