<h2><%= @photo.name %></h2>

<div class="card mb-3">
  <div class="row g-0">
    <%= image_tag @photo.image.url(:large), class: 'img-fluid rounded-start'%>
  </div>
  <div class="card-body">
    <p class="card-text"><%=@photo.description%></p>
    <p class="card-text"><small class="text-muted">Last updated <%=@photo.created_at%></small></p>
    <%=@photo.likes.count %> <%= (@photo.likes.count) == 1 ? 'Like' : 'Likes'%></p>  <%=render "likes/likes"%>
  </div>
  	<div class="btn-group mt-2 mb-2">
		  <%= link_to "Back", root_path, class: 'btn btn-warning'%>
    </div>
    <div class='container'>
      <%=render partial: "comments/commentaries", locals: {comments: @comments, commentable: @photo}%>
      <%=render partial: "comments/form", locals: {commentable: @photo }%>
    </div>
</div>