<!DOCTYPE html>
<html>
  <head>
    <title>RateMyPhotos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <%=render 'shared/navbar'%>

  <div class="alert alert">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"> <%= message %> </div>
    <% end %>
  </div>

  <body class='container' id='mbody'>
    <%= yield %>
  </body>

  <%=render 'shared/footer'%>
</html>